/* ------------ MAIN ---------------- */

.boyan {
    width: 100%
}

.activePane {
    width: 60%;
    float: left;
}

.paneShrinked {
    width: 10%; 
    float: left;
}

/* ------------ DEFAULT ---------------- */

.defaultPane {
    background-color: white;
}

.defaultPaneShrinked {
    background-color:lightsteelblue;
}

/* ------------ LOGIN ---------------- */

.loginPane {
    background-color: white;
}

.loginPaneShrinked {
    background-color:lightsteelblue;
}

/* ------------ MY POSTS ---------------- */

.myPostsPane {
    background-color: white;
}

.myPostsPaneShrinked {
    background-color:lightsteelblue;
}

textarea#newtext {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}

/* ------------ ABOUT ---------------- */

.aboutPane {
    background-color: white;
}

.aboutPaneShrinked {
    background-color: lightsteelblue;
}

/* ------------ REGISTER ---------------- */

.registerPane {
    background-color: white;
}

/* ------------ SIGN-IN ---------------- */

.signin {
    background-color: white;
}

/* ----------- USERPROFILE ------------- */
.searchUsersPane {
    background-color: white;
}

.searchUsersPaneShrinked {
    background-color: lightsteelblue;
}

.user_profile_row_1 {
    background-color: lightskyblue;
}

.user_profile_row_2 {
    background-color: wheat;
}

.user_profile_emptyrow {
    background-color: whitesmoke;
}

/* ------------ FRIEND LIST ---------------- */

.friendListPane {
    background-color: white;
}

.friendListPaneShrinked {
    background-color: lightsteelblue;
}

/* ------------ FRIEND REQUESTS ---------------- */

.friendRequestsPane {
    background-color: white;
}

.friendRequestsPaneShrinked {
    background-color: lightsteelblue;
}

/* ----------- NEWS ----------------- */

.newsPane {
    background-color:white;
}

.newsPaneShrinked {
    background-color:lightsteelblue;
}

/* ----------- TOP ----------------- */

.topMenu {
    height: 5%;
    width: 100%;
    top: 0;
    left:0;
    background-color: deepskyblue;
}

/* ----------- BOTTOM ----------------- */
