/* ------------ MAIN ---------------- */

.boyan {
    width: 100%
}

.activePane {
    width: 55%;
    float: left;
}

.paneShrinked {
    width: 15%; 
    float: left;
}

/* ------------ DEFAULT ---------------- */

.defaultPane {
    background-color: white;
}

.defaultPaneShrinked {
    background-color:lightsteelblue;
}

/* ------------ LOGIN ---------------- */

.loginPane {
    background-color: white;
}

.loginPaneShrinked {
    background-color:lightsteelblue;
}

/* ------------ MY POSTS ---------------- */

.myPostsPane {
    background-color: white;
}

.myPostsPaneShrinked {
    background-color:lightsteelblue;
}

textarea#newtext {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}

/* ------------ ABOUT ---------------- */

.aboutPane {
    background-color: white;
}

.aboutPaneShrinked {
    background-color: lightsteelblue;
}

/* ------------ REGISTER ---------------- */

.registerPane {
    background-color: white;
}
/* ----------- NEWS ----------------- */

.newsPane {
    background-color:white;
}

.newsPaneShrinked {
    background-color:lightsteelblue;
}

/* ----------- TOP ----------------- */

.topMenu {
    height: 5%;
    width: 100%;
    top: 0;
    left:0;
    background-color: deepskyblue;
}

/* ----------- BOTTOM ----------------- */

