.boyan {
    width: 100%
}

.activePane {
    width: 60%;
    float: left;
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.paneShrinked {
    width: 20%; 
    float: left;
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.defaultPane {
    background-color: white;
}

.defaultPaneShrinked {
    background-color:lightsteelblue;
}

.aboutPane {
    background-color: white;
}

.aboutPaneShrinked {
    background-color: lightsteelblue;
}

.newsPane {
    background-color:white;
}

.newsPaneShrinked {
    background-color:lightsteelblue;
}

.topMenu {
    height: 5%;
    width: 100%;
    top: 0;
    left:0;
    background-color: deepskyblue;
}
